@import url('https://fonts.googleapis.com/css?family=Cookie');
body {
    background-color: #aa1bb0;
    width: 100%;
    font-family: 'Cookie', cursive;
    color: #fff;
    text-shadow: 2px 2px 3px black; 
}


body {
    background-color: #6b92b9;
    background-image: url('http://i.imgur.com/BiSmXaq.png'), url('http://i.imgur.com/XHuy0NJ.png'), url('http://i.imgur.com/okpRxJU.png');
    -webkit-animation: snow 20s linear infinite;
    -moz-animation: snow 20s linear infinite;
    -ms-animation: snow 20s linear infinite;
    animation: snow 20s linear infinite;
}

h1 {
    text-align: center;
    text-shadow: #450580;
    
}

input[type=text]{
    font-family: 'Cookie', cursive;
    font-size: 50pt;
    text-align: center;
    width: 70px;
}

canciones {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    gap: 5px;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    ;
}

cancion {
    border: 2px solid black;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    transition: font-size 1s;
    border-radius: 5px
}

cancion .escondido {
    font-size: 0px;
}

zona {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap:10px;
}

ruleta {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

resultado {
    box-shadow: 3px 4px 3px 0px #520a82;
    background: linear-gradient(to bottom, #dfa4eb 5%, #aa1ff0 100%);
    background-color: #dfa4eb;
    border-radius: 18px;
    border: 1px solid #46136b;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 40px;
    padding: 32px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #450580;
}

btirar, bcorto, blargo {
    box-shadow: 3px 4px 3px 0px #520a82;
    background: linear-gradient(to bottom, #a920c4 5%, #b338f0 100%);
    background-color: #a920c4;
    border-radius: 18px;
    border: 1px solid #8619cf;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 40px;
    padding: 32px 20px;
    margin: 4px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #450580;
}

bazul,brojo,bamarillo,bverde{
    box-shadow: 3px 4px 3px 0px #520a82;
    border-radius: 18px;
    border: 1px solid #8619cf;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 20px;
    padding: 12px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #450580;
}

blargo:hover,bazul:hover,brojo:hover,bamarillo:hover,bverde:hover{
    background: linear-gradient(to bottom, white 5%, darkgrey 100%);
}

btirar:hover,bcorto:hover {
    background: linear-gradient(to bottom, #b338f0 5%, #a920c4 100%);
    background-color: #b338f0;
}

btirar:active,bcorto:active,blargo:active {
    position: relative;
    top: 1px;
}

equipos {
    display: flex;
    flex-direction: column;
}

.presentador {
    width: 100px;
}

marcador {
    
    display: flex;
    flex-direction: column;
    align-items:center;
    width:200px;
}

podium{
    font-size:40px;
    margin:10px;
    padding: 5px auto;
    width: 100px;
    text-align: center;
    border-radius: 18px;
    box-shadow: 3px 4px 3px 0px #46136b;
}

.rojo {
    background-color: red;
}

.azul {
    background-color: blue;
}

.verde {
    background-color: green;
}

.amarillo {
    background-color: yellow;
}




/**/


@-webkit-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: #b4cfe0 }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #6b92b9;
    }
}
@-moz-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: #b4cfe0 }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #6b92b9;
    }
}
@-ms-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: #b4cfe0 }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #6b92b9;
    }
}
@keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    50% { background-color: #b4cfe0 }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
        background-color: #6b92b9;
    }
}