/*
CSS Base for the Miskatonic Herald
*/


@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

/*
* CSS for body
*/

body{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    
    /*background-color:#323232;*/
    background-image:url("https://picsum.photos/1600/900");
    font-family: 'OuroborosRegular';
    font-weight: normal;
    font-style: normal;
    margin: 0;
    color:#ffffff;
}


/*
* CSS for items
*/

items{
    background-color:#555555;
    opacity:0.9;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height: 95vh;
    width:100%;
    border-radius:20px;
}

item{
    margin: 10px;
}

/*
* CSS for body
*/

button{
    font-family: 'OuroborosRegular';
    font-size:150%;
    box-shadow: 0px 10px 14px -7px #552773;
    background:linear-gradient(to bottom, #a8169e 5%, #994059 100%);
    background-color:#a8169e;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-weight:bold;
    padding:13px 32px;
    text-decoration:none;
    text-shadow:0px 1px 0px #8a3e48;
}

button:hover {
    background:linear-gradient(to bottom, #994059 5%, #a8169e 100%);
    background-color:#994059;
}

button:active {
    position:relative;
    top:1px;
}


/*
* CSS for steps
* - Includes the opacity for the 
*   animation that makes this more
*   dinamyc, but is only a simple
*   GUI.
*/

steps{
    display:grid;
    grid-template-columns: 150px 300px 150px;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap:20px;
}

/*
* CSS for all the steps
* with class (estabaEscondido)
* that turns the element visible
* with a transition.
*/
steps * {
    opacity:0;
    transition: opacity 0.5s;
}

.estabaEscondido{
    opacity:1;
}


/*Progress*/
/*
* CSS for ProgressBars
*/
progress{
  padding: 6px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  color:green;
}



finalmsg{
    font-family: neon;
    color: #FB4264;
    text-shadow: 0 0 3vw #F40A35;
    animation: neon 1s ease infinite;*/
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

