 
 body{
     
     background-image: url(imgs/yasuo.png);
     background-color: rgba(0,0,0,0.5);
     background-size:cover;
 }
 
 .keys{
        padding: 200px;
        display: flex;
        flex-direction: row;
 }
 
.key{
        border: 4px solid black;
        border-radius: 5px;
        margin: 1rem;
        font-family: Verdana;
        font-style:bold;
        font-size:1.5rem;
        
        padding:1rem .5rem;
        transition: all 0.07s;
        width:100px;

        color: white;
        text-align: center;
        background-color: rgba(255,255,255,0.3);
        text-decoration-style: solid;

       
        text-align-all:center;
        text-shadow:0 0 5px black;
}


.playing{
        transform: scale(1.1);
        border-color:#ffc600;
        box-shadow: 0 0 10px #ffc600;
}

kbd{
        display:block;
        font-size: 40px;
}

.sound{
        font-size:1.2rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #ffc600;
    
}
