body, html {   
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display:table;
}
body {
    display:table-cell;
    vertical-align:middle;
}
form {

    display:table;/* shrinks to fit content */
    margin:auto;
    border: 1px solid grey;
    border-radius: 15px;
    text-align: center;
}

form li {
    list-style: none;
    padding: 15px;
}